* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.6;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
  transition: 0.3s;
}

.container {
  width: 1080px;
  margin: 0 auto;
  padding: 80px 0;
}

header {
  padding:0 30px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
  z-index: 1;
  background: white;
  position: sticky;
  top:0;
  left: 0;
  width: 100%;
}

.header__title {
  font-size: 24px;
  width: 80px;
}

.header__title a {
  color: black;
}

.header__nav-pc {
  display: flex;
}

.haeder__nav-list {
  display: flex;
  font-weight: bold;
}

.haeder__nav-list li a {
  color: black;
}


.haeder__nav-list li:not(:last-of-type) {
  margin-right: 30px;
}

.header__nav-sp {
  display: none;
}

.menu {
  display: none;
}

.mv {
  height: 250px;
  background: url('../img/mv.png') center / cover;
}

.mv__title {
  display: flex;
  justify-content: center;
  line-height: 280px;
  font-size: 30px;
  color: white;
}

